<article class="post">
    <div class="title">
        <h3>{{title}}</h3>
        <a href="/post/{{ id }}"><img src='images/{{image}}.jpg'/></a>
    </div>
    <div class='description'>
        <p>{{comments_text}}</p>
    </div>

</article>