<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UTGR</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="col-12">
      <div class="wrapper">
        <div class="row">
          <header>
            <h1 id="title">UTGR</h1>
            <nav>
              <a href="/">Home</a>
              {{#if loggedIn}}
              <a href="/dashboard">Explore</a>
              <button id="logout" class="btn-no-style">logout</button>
              {{else}}
              <a href="/login">login</a>
              {{/if}}
            </nav>
          </header>
        </div>
        <main id="body">
          {{{ body }}}
        </main>
        <footer>
          Thanks for visiting!
        </footer>
      </div>
    </div>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>