
<div>
{{#if posts.length}}
<section>
  <h2 style="color:black">Featured Games</h2>
  <ul class="fullclick ">
    {{#each posts as |post|}}
    <li cardStyle>
      {{> post-info post}}
       <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
       {{#each comments as |comment|}}
       <p>{{comment_text}}</p>
       {{/each}}
     <a href="/dashboard/edit/{{post.id}}" id="edit" class="btnDisplay"><button><i class="fa fa-edit"></i></button></a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
</div>