<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <H1>
            <a href="/">UTGR Menu</a>
        </H1>
        <nav>
            <ul>
                <li>
                    <a href="#genres">Genres</a>
                </li>
                <li>
                    <a href="#top-games">Top Games</a>
                </li>
                <li>
                    <a href="#reviews">Reviews</a>
                </li>
                <li>
                    <a href="#login">Login</a>
                </li>
            </ul>
        </nav>
    </header>
<main>
    <div class="p-3">
        <h2 class="text-center text-light">Featured Games</h2>
        <ol class="container ">
        {{#each game as |game|}}
        {{>inventory-cards}}
        {{/each}}
        </ol>    
    </div>
</main>
</body>
</html>