<div>
  <h2>Game Title: {{post.title}} </h2>
</div>
<div>
  <h2>Genre: {{post.genre}}</h2>
  <h2>Game Review:</h2> 
  <iframe width="560" height="315" src="https://www.youtube.com/embed/WJW-bzXZM8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div>
{{post.review}}
</div>

  <span> Posted by {{username}}</span>
</div>

{{#if loggedIn}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}