<div>
  <h2>Game Title: {{title}} </h2>
</div>
<div>
  <h2>Genre: {{genre}}</h2>
  <h2>Game Review:</h2> {{review}}
  <span> Posted by {{user.username}}</span>
</div>

{{#if loggedIn}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}